body{
	background-color: #060E0B;
	text-align: center;
}

form{
	display: inline-block;
	width: 30%;
}

input.form-control{
	text-align: center;
}

select{
	text-align-last:center; 
}

h1{
	font-family: 'Trebuchet MS', sans-serif;
	margin-bottom: 2%;
	color: #FFFFFF;
}

h1.corrige{
	color: #000000;
	margin: 0px;
	margin-top: 5px;
}

h2{
	font-family: 'Trebuchet MS', sans-serif;
}

h3{
	font-family: 'Trebuchet MS', sans-serif;
}

h4{
	font-family: 'Trebuchet MS', sans-serif;
	color: #FFFFFF;
}

h4.corrigirCor{
	color: #000000;
}

h5{
	font-family: 'Trebuchet MS', sans-serif;
}

a.btn{
	background-color: #23B5B5;
	border-color: #23B5B5;
	width: 100%;
	color: white;
	margin-top: 1%;
	margin-bottom: 3%;
}

a.botao{
	width: 40%;
}

a.btn:hover{
	background-color: #5BA13B;
	border-color: #5BA13B;
	color: white;
}

nav.navbar li:hover{
	background-color: #5BA13B;
	border-color: #5BA13B;
}

.icoAcessar{
	width: 32px;
	padding: 0px;
	margin: 8px;
}

.icoLogin{
	width: 12%;
	margin-top: 20px;
}

.icoLogo{
	margin-bottom: -10px;
	margin-top: -2%;
}

.menu{
	background-color: #D6D6D6;
	border-color: #D6D6D6;
	border-radius: 0px 0px 0px 0px;
	margin-bottom: 0px;
}

.footer{
	position: absolute;
	overflow: hidden;
	width: 100%;
	bottom: 0;
	border-radius: 0px 0px 0px 0px;
	margin-bottom: 0px;
}

table.table{
	position: relative;
	overflow: hidden;
	width: 100%;
	bottom: 0;
	margin: 0px;
	background-color: #D6D6D6;
	border-color: #D6D6D6;
}

table.triagem{
	width: 50%;
	margin: auto;
	border-radius: 10px;
	margin-top: -1%;
}

td.triagemtd{
	border-right: 2px solid #060E0B;
}

td.active{
	color: #23B5B5;
}

td.respondido{
	color: #5BA13B;
}

table.tTriagem{
	background-color:  #060E0B;
	margin: auto;
	width: 55%;
	padding: 30px;
}

button.btn{
	background-color: #23B5B5;
	border-color: #23B5B5;
	width: 90%;
	color: white;
	margin-top: 1%;
	margin-bottom: 1%;
}

button.btn:hover{
	background-color: #5BA13B;
	border-color: #5BA13B;
	color: white;
}

a.btnTriagem{
	width: 15%;
}

.footImg{
	width: 30%;
}

a.badge{
	background-color: #D6D6D6;
	color: #000000;
}

a.badge:hover{
	color: #5BA13B;
}

select.sCidEst{
	margin-top: 20px;
}

table.tMatch{
	width: 50%;
	margin: auto;
	border-radius: 10px;
}

.divSetaE{
	margin: auto;
	width: 60%;
}

.divSetaD{
	margin: auto;
	width: 60%;
}

.genM{
	margin: auto;
	width: 100%;
	margin-top: -20%;
}

.iconeMatch{
	margin: auto;
	width: 50%;
	margin: -10px;
	margin-top: -30%;
}

img.bFechar{
	width: 10%;
	margin-top: -12%;
	margin-right: -95%;
}

table.tMenu{
	margin: auto;
	width: 80%;
}

img.imgMenu{
	width: 50%;
	margin-top: 10%;
}

div.info{
	width: 20%;
	height: 100%;
	float: left;
	padding: 0%;
	border-radius: 0px;
	background-color: #F0F0F0;
}

div.chat{
	width: 80%;
	float: left;
	height: 100%;
	padding: 0%;
	border-radius: 0px;
}

.chathead{
	width: 100%;
	margin: 0px;
	background-color: #F0F0F0;
	border-radius: 0px;
	position: sticky;
}

.chatin{
	width: 100%;
	vertical-align: bottom;
	margin: 0px;
	background-color: #F0F0F0;
	border-radius: 0px;
	position: sticky;
}

img.imgIcon{
	width: 50px;
	margin: 0px;
	margin-top: -25%;
	margin-bottom: -25%;
	padding: 0px;
}

img.mentorIcon{
	margin-left: 150%;
}

textarea{
	max-width: 100%;
}

table.chatbox{
	width: 100%;
	margin-top: 7%;
}

img.msgIco{
	width: 45%;
	margin-top: -15%;
	margin-bottom: -15%;
}

img.userIco{
	width: 70px;
}

img.esq{
	margin-left: -70%;
	margin-top: -18%;
}

img.dir{
	margin-right: -70%;
	margin-top: -18%;
}

img.icoEmDev{
	margin-bottom: -10px;
	margin-top: 5%;
}

table.contato{
	width: 100%;
	
}

div.cartaoContato{
	background-color: #FFFFFF;
	border-radius: 50%;
}