body{
	background-color: #060E0B;
	text-align: center;
}

form{
	display: inline-block;
	width: 30%;
}

input.form-control{
	text-align: center;
}

#selectCenter{
	text-align: center;
}

h1{
	font-family: 'Trebuchet MS', sans-serif;
	margin-bottom: 2%;
	color: #FFFFFF;
}

h4{
	color: #FFFFFF;
}

a.btn{
	background-color: #23B5B5;
	border-color: #23B5B5;
	width: 100%;
	color: white;
	margin-top: 1%;
	margin-bottom: 3%;
}

a.botao{
	width: 40%;
}

a.btn:hover{
	background-color: #5BA13B;
	border-color: #5BA13B;
	color: white;
}

nav.navbar li:hover{
	background-color: #5BA13B;
	border-color: #5BA13B;
}

.icoAcessar{
	width: 32px;
	padding: 0px;
	margin: 8px;
}

.icoLogin{
	width: 12%;
	margin-top: 20px;
}

.icoLogo{
	margin-bottom: -10px;
	margin-top: -2%;
}

.menu{
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	border-radius: 0px 0px 0px 0px;
	margin-bottom: 0px;
}

.footer{
	position: absolute;
	overflow: hidden;
	width: 100%;
	bottom: 0;
	border-radius: 0px 0px 0px 0px;
	margin-bottom: 0px;
}

table.table{
	position: relative;
	overflow: hidden;
	width: 100%;
	bottom: 0;
	margin: 0px;
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}

.footImg{
	width: 30%;
}

a.badge{
	background-color: #FFFFFF;
	color: #000000;
}

a.badge:hover{
	color: #5BA13B;
}
